body {
  font-family: Monolisa, Arial, Helvetica, sans-serif;
  color: rgb(41, 42, 44);
  margin: 20px 20px;
}

/* Navigation section style */

.main-header {
  font-size: 18px;
  padding: 3px 45px;
  text-decoration: none;
  color: rgb(41, 42, 44);
}
.home-link {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li .nav-link {
  display: block;
  color: rgb(41, 42, 44);
  font-size: 15px;
  text-align: center;
  padding: 14px 45px;
  font-weight: bold;
  text-decoration: none;
}

li .nav-link:hover {
  background-color: #111;
  color: rgb(255, 255, 255);
}

.title-left {
  float: left;
}

h1 {
  text-decoration: underline;
  font-size: 2em;
}
h1,
h2 {
  text-align: center;
}
article img {
  margin: 20px 500px;
  border-radius: 6px;
}
article p {
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 30px 100px;
  margin: 5px 200px;
}
article h3,
article h4 {
  text-align: center;
}
