body {
  font-family: Monolisa, Arial, Helvetica, sans-serif;
  color: rgb(41, 42, 44);
  margin: 20px 20px;
}

/* Navigation section style */
.main-header {
  font-size: 18px;
  padding: 3px 45px;
  text-decoration: none;
  color: rgb(41, 42, 44);
}
.home-link {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li .nav-link {
  display: block;
  color: rgb(41, 42, 44);
  font-size: 15px;
  text-align: center;
  padding: 14px 45px;
  font-weight: bold;
  text-decoration: none;
}

li .nav-link:hover {
  background-color: #111;
  color: rgb(255, 255, 255);
}

.title-left {
  float: left;
}

/*  */
.heading-title {
  text-align: center;
  text-decoration: underline;
}
article img {
  margin: 20px 500px;
  height: 500px;
  width: 400px;
  border-radius: 5px;
}
h4 a {
  color: red;
  text-decoration: none;
}
article p {
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 40px 100px;
  margin: 5px 200px;
}
.btn-style {
  text-align: center;
}
.btn-style button {
  border: 2px solid;
  background-color: #1e7a99;
  color: white;
  font-size: 2opx;
  border-radius: 50px;
  padding: 7px 20px;
}
