.body-style {
  font-family: Monolisa, Arial, Helvetica, sans-serif;
  color: rgb(41, 42, 44);
  /* margin: 20px 20px; */
}

/* Navigation section style */

.main-header {
  font-size: 18px;
  padding: 3px 45px;
  text-decoration: none;
  color: rgb(41, 42, 44);
}
.home-link {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li .nav-link {
  display: block;
  color: rgb(41, 42, 44);
  font-size: 15px;
  text-align: center;
  padding: 14px 45px;
  font-weight: bold;
  text-decoration: none;
}

li .nav-link:hover {
  background-color: #111;
  color: rgb(255, 255, 255);
}

.title-left {
  float: left;
}

/* Main Section Style */

h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.section-over-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* bookshow section */

.bookshow-section {
  background-color: #f8f6f1;
  border: 2px solid #f8f6f1;
  border-radius: 4px;
  padding: 20px 20px;
  margin: 40px 50px;
}
.bookshow-article-img {
  border-radius: 4px;
  position: relative;
  display: inline-block;
  margin: 0px 2px;
}
.bookshow-section a {
  text-decoration: none;
  color: rgb(97, 43, 43);
}

/* blog section */

.blog-section {
  background-color: #f8f6f1;
  border: 2px solid #f8f6f1;
  border-radius: 4px;
  padding: 20px 20px;
  margin: 40px 50px;
}
.blog-article-image {
  border-radius: 4px;
  position: relative;
  display: inline-block;
  margin: 0px 300px;
}
.blog-article-heading {
  float: center;
}
.blog-article-heading a {
  text-decoration: none;
  color: rgb(97, 43, 43);
}

/* review section */
.review-section {
  background-color: #f8f6f1;
  border: 2px solid #f8f6f1;
  border-radius: 4px;
  padding: 20px 20px;
  margin: 40px 50px;
}
.review-article-image {
  border-radius: 4px;
  position: relative;
  display: inline-block;
  margin: 0px 400px;
}
.review-article-heading a{
  text-decoration: none;
  color: rgb(97, 43, 43);
}
/* Footer Section Style */
.footer-style {
  position: initial;
  padding: 10px 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(41, 42, 44);
  color: rgb(255, 255, 255);
  text-align: center;
}
.copyright-information {
  font-weight: 25px;
}
.copyright-title-bold {
  font-weight: bold;
  font-style: italic;
}
